* {
    margin: 0px;
    padding: 0px;
    object-fit: contain;
}

body {
    background-color: black;
}

.carousel {
    /* background-color: bisque; */
    padding-top: 0px;
}

.carousel-item{
    /* height: 80px; */
    /* padding-bottom: 100px; */
}

.show {
    height: 100vh;
    width: 1900px;
    background-color: rgb(44, 44, 44);
}

iframe {
    height: 100%;
    width: 100%;
}

#reddit {
    display: none;
}
#netflix {
    display: none;
}
#youtube {
    display: none;
}